body {
    background-color: black;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 64px;
    color:rgb(144, 103, 26);
}

a {
    color: white;
    text-decoration: blink;
}

ul {
    text-align: center;
    font-size: 40px;
    color: white;
    margin: 100px;

}

li {
    padding-bottom: 20px;
}